HELP.md

### Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven (legacy) ###
target/
.mvn/
mvnw
mvnw.cmd
pom.xml
**/pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store

